@{
    ViewData["Title"] = "Home Page";
}

<h1>Hi!</h1>

<a class="btn btn-primary btn-lg" asp-area="" asp-controller="UserManagement" asp-action="SignUp">Sign Up</a>
<a class="btn btn-primary btn-lg" asp-area="" asp-controller="UserManagement" asp-action="Index">Login</a>
<a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="ProtectedPing">Test Protection</a>